<p>registros works!</p>
<section id="register" class="mb-5 mt-5">
    <div class="container">
      <div class="row">
  
        <div class="col-xs-12 col-sm-6 col-md-4 mx-auto">
          <div class="card_register">
            <div class="card">
              <div class="card-body text-center">
                <form #formRegister="ngForm" (ngSubmit)="onAddUser()">
                  <h1 class="h3 mb-3 font-weight-normal">Registro</h1>
                  <div class="alert alert-danger" role="alert" *ngIf="isError">
                    {{msgError}}
                  </div>
                  
                  <div class="form-group">
                    <input 
                     type="email"  
                     name="email" class="form-control" placeholder="Ingrese un email @"
                     [(ngModel)]="email" required
                      minlength="8">
                  </div>
                  <div class="alert alert-danger" role="alert" *ngIf="email.touched && !email.valid">
                    <div *ngIf="email.errors.required">Email is required</div>
                    <div *ngIf="email.errors.minlength">Email must be at least 8 characters</div>
                  </div>
                  <div class="form-group">
                    <input 
                      type="password" 
                       name="password" 
                       class="form-control" 
                       placeholder="Ingrese la contraseña del email"
                       [(ngModel)]="password"
                       required minlength="5" 
                       maxlength="10">
                  </div>
                  <div class="alert alert-danger" role="alert" *ngIf="password.touched && !password.valid">
                    <div *ngIf="password.errors.required">password is required</div>
                    <div *ngIf="password.errors.minlength">password must be at least 5 characters</div>
                  </div>
                  <!--Img-->
                  <div class="form-group">
                    <h5>Seleccione una imagen</h5>
                    <input type="file" accept=".png, .jpg"(change)="onUpload($event)">
                  </div>
                  <!--captura la Url de Imgen en tiempo real-->
                  <input #imageUser type="hidden" [value]="urlImage | async">
                  <!---->
                  <button 
                       type="submit" 
                       class="btn btn-lg btn-primary btn-block">Register</button>
                  <!--Temple desabilitado mientra no se elija un imagen-->
                  
                
                  <div class="form-group">
                    <a routerLink="/user/login" class="form-control login-user"> 
                    <b>¿Tienes cuenta?</b>
                    </a>
                  </div>
                  <!--Creamos los botones para las pagin-->
                <div class="form-group">
                  <button class="btn-block btn-social btn-google" (click)="onLoginGoogle()">
                        <!--Agregamos los icons-->
                    <span class="fa fa-google"></span>
                    <b> GOOGLE</b>
                  </button>
                </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>