<div class="modal fade" id="ModalPaises" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Nuevo País</h5>
          <!--(click)="onReserForm(formularioIngresoPaises) limpiamos el formulario al cerrarlo-->
        <button type="button-danger" (click)="onReserForm(formularioIngresoPaises)" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!--referencia para el formulario y cuando se envia proboca un evento Submit (ngSubmit),
          llama al evento SavePais y pasara todos los campos del formulario (formPais) -->
        <form 
          [formGroup]="formularioIngresoPaises" 
          (ngSubmit)="onSavePais()">
          <!--input para el id oculto-->
          <input type="hidden" formControlName="ID_Pais">
          <!--Ingreso de datos-->
          <div class="form-group">
            <label for="Pais" class="col-form-label"><b>Nombre:</b></label>
            <input type="text" class="form-control input-sm text-black" style="width:100%;height:1%"
              formControlName="Nombre_Pais" placeholder="Nombre Pais">
          </div>
          <!--Inicio Div de Validación-->
          <div class="alert-danger" *ngIf="Nombre_Pais.invalid && (Nombre_Pais.dirty || Nombre_Pais.touched) ">
            <div class="container-error-message" *ngIf="Nombre_Pais.errors.required" class="lead">El Nombre del País es requerido!
            </div>
            <div class="container-error-message" *ngIf="Nombre_Pais.errors.minlength" class="lead"> El Nombre del País debe tener como minimo 4
              Carácteres </div>
            <div class="container-error-message" *ngIf="Nombre_Pais.errors.maxlength" class="lead"> El Nombre del País debe tener como máximo 20
              Carácteres </div>
          </div>
          <!--Fin Div Validación-->

          <!--Inicio Div Botones-->
          <div class="modal-footer">
             <!--Desabilitamos el boton si el formulario con el método
                 [disabled]="!formularioIngresoPaises.valid" no esta validadoformularioIngresoPaises-->
            <button title="Botón Guardar" type="submit" [disabled]="!formularioIngresoPaises.valid"
              class="btn btn-outline-primary btn-sm">
              <i class="fa fa-save" aria-hidden="true"></i>
              <b> Guardar</b>
            </button>
            <!--(click)="onReserForm(formularioIngresoPaises) limpiamos el formulario al cerrarlo-->
            <button type="button" title="Botón Cerrar" (click)="onReserForm(formularioIngresoPaises)"
              class="btn btn-outline-danger btn-sm" #btnClose data-dismiss="modal">
              <i class="fa fa-times-circle" aria-hidden="true"></i><b> Cerrar</b>
            </button>
          </div>
            <!--Fin Div Botones-->
        </form>
      </div>
    </div>
  </div>
</div>