<div class="modal fade" id="ModalCategorias" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
           Nueva Categoría</h5>
          <button type="button" 
            class="close btn btn-danger" 
            (click)="onReserForm(formularioIngresoCategorias)"
            data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!--referencia para el formulario y cuando se envia proboca un evento Submit (ngSubmit),
          llama al evento SaveCategorias y pasara todos los campos del formulario (formCategorias) -->
          <form 
              [formGroup]="formularioIngresoCategorias"
              (ngSubmit)="onSaveCategorias()">
            <!--input para el id oculto-->
          <input    
                    type="hidden" 
                    formControlName="ID_Categoria">
            <!--Agregamos los datos 1-->
            <div class="form-group">
              <label for="Nombre Categoria" class="col-form-label"><b>Nombre Categoría:</b></label>
                    <input 
                    type="text" 
                    class="form-control input-sm text-black my-3" 
                    style="width:100%;height:1%"
                    formControlName="Nombre_Categoria" 
                    placeholder="Ingrese el Nombre de la Categoría">
            </div>
            <!--Inicio Div de Validación-->
            <div class="alert-danger"
              *ngIf="Nombre_Categoria.invalid && (Nombre_Categoria.dirty || Nombre_Categoria.touched) ">
              <div class="container-error-message" *ngIf="Nombre_Categoria.errors.required" class="lead">El Nombre de la Categoría
                es requerido!
              </div>
              <div class="container-error-message" *ngIf="Nombre_Categoria.errors.minlength" class="lead"> El Nombre de la Categoría debe tener como minimo 4
                Carácteres </div>
              <div class="container-error-message" *ngIf="Nombre_Categoria.errors.maxlength" class="lead"> El Nombre de la Categoría debe tener como máximo 60
                Carácteres </div>
            </div>
            <!--Fin Div Validación-->
                <!--Agregamos los datos2-->
            <div class="form-group">
                <label for="Descripcion" class="col-form-label"><b>Descripcion Categoría</b></label>
                <!--Creamos el txtArea nombre con un id y un nombre-->
                <textarea 
                    class="form-control input-sm text-black my-3"
                    style="width:100%;height:1%" 
                    formControlName="Descripcion_Categoria"
                    placeholder="Ingrese la Descripcion de la Categoría" 
                    rows="4" 
                    cols="40">
                 </textarea>
            </div>
            <!--Inicio Div de Validación-->
            <div class="alert-danger"
              *ngIf="Descripcion_Categoria.invalid && (Descripcion_Categoria.dirty || Descripcion_Categoria.touched) ">
              <div class="container-error-message" *ngIf="Descripcion_Categoria.errors.required" class="lead">La Descripción de la Categoría
                es requerida!
              </div>
              <div class="container-error-message" *ngIf="Descripcion_Categoria.errors.minlength" class="lead"> La Descripción de la Categoría debe tener como minimo 4
                Carácteres </div>
              <div class="container-error-message" *ngIf="Descripcion_Categoria.errors.maxlength" class="lead"> La Descripción de la Categoría debe tener como máximo 60
                Carácteres </div>
             </div>
            <!--Fin Div Validación-->

          <!--Inicio Div Botones-->
          <div class="modal-footer">
            <!--Desabilitamos el boton si el formulario con el método
                      [disabled]="!formularioIngresoCategorias.valid" no esta validadoformularioIngresoCategorias-->
            <button title="Botón Guardar" type="submit" [disabled]="!formularioIngresoCategorias.valid"
              class="btn btn-outline-primary btn-sm">
              <i class="fa fa-save" aria-hidden="true"></i>
              <b> Guardar</b>
            </button>

            <!--(click)="onReserForm(formularioIngresoCategorias) limpaimos el formulario al cerrarlo-->
            <button type="button" title="Botón Cerrar" (click)="onReserForm(formularioIngresoCategorias)"
              class="btn btn-outline-danger btn-sm" #btnClose data-dismiss="modal">
              <i class="fa fa-times-circle" aria-hidden="true"></i><b> Cerrar</b>
            </button>
          </div>
          <!--Fin Div Botones-->
          </form>
        </div>
      </div>
    </div>
  </div>
  